body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 15px;
	color: #fff;
	background-color: #333333;
	max-width: 100%;
	margin: 0;
	padding: 0;
}

#menu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	text-align: left;
	padding: 1px;
	position: relative;
	left: 0px;
	top: 100px;
	line-height: 20px;
	width: 120px;
	background-image: url(../navimages/menuBG.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	float: left;
	z-index: 1;
}
#mast {
	text-decoration: none;
	left: 0px;
	top: 0px;
	position: absolute;
	width: 700px;
	height: 100px;
	background-image: url('../navimages/mast.jpg'); 
}

#content {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CCCCCC;
	text-decoration: none;
	position: absolute;
	left: 120px;
	top: 102px;
	line-height: 22px;
	/*width: 1150px; This looks irrelavant*/
}

.center {
	text-align: center;
	left: 50%;

}

a:link {
	color: #CCCCCC;
	text-decoration: none;

}

a:visited {
	color: #CCCCCC;
	text-decoration: none;
}

a:hover {
	color: #FFFF00;
	text-decoration: none;

}

.titles {
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;
}
.titlesLarger {
	font-size: 28px;
	font-weight: bold;
	text-decoration: underline;
}

.titlesSmaller {
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
}

.bold {
	font-size: 16px;
	font-weight: bold;
}

.boldsmall {
	font-size: 12px;
	font-weight: bold;
}

.underline {
	text-decoration: underline;
}

.centerunderline {
	text-decoration: underline;
	text-align: center;
	font-size: 10px;
}

.boldunder {
	font-weight: bold;
	text-decoration: underline;
	font-size: 14px;
}

.boldundersm {
	font-weight: bold;
	text-decoration: underline;
	font-size: 12px;
}
.boldcenunder {
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
}

h2 {
	text-decoration: underline;
}

h3 {
	font-size: 16px;
	text-decoration: underline;
}

/* NO IDEA WHAT THIS IS FOR  table, td, tr should not have a . in front unless inside a ID or Class for Seperation eg: .fancyTable table, .fancyTable tr, .fancyTable td */
.table, .table td, .table th {
	font-size: 12px;
	width: auto;
}

.ul {
	display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

#master_container {
	max-width: 100%;
	height: auto;
}

.page_container {
	top: 101px;
	position: relative;
}

#log_selector {
	text-align: left;
	padding: 5px;
	position: relative;
}

#log_view {
	padding: 5px;
	position: relative;
	z-index: 0;
}

.date {
	font-size: 13px;
}
